<!DOCTYPE HTML>
<html xmlns:th="http//www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
    <div layout:fragment="body">
		<table border="1" align="center" width="50%">
			<tr align="center">
				<td colspan="5" th:text="${boardNm}"></td>
			</tr>
			<tr th:if="${postList.size() == 0}" align="center">
				<td>게시글이 없습니다.</td>
			</tr>
			<tr th:if="${postList.size() != 0}" align="center">
				<td>글번호</td>
				<td>제목</td>
				<td>작성자</td>
				<td>작성일</td>
			</tr>
			<div th:if="${postList.size() != 0}">
				<tr th:each="postList:${postList}">
					<td th:text="${postList.postNo}"></td>
					<td>
						<a th:href="@{singlePost(postNo=${postList.postNo})}" th:text="${postList.postSj}"></a>
					</td>
					<td th:text="${postList.regstrId}"></td>
					<td th:text="${#dates.format(postList.regDt, 'yyyy-MM-dd')}"></td>
				</tr>
			</div>
			<tr align="center">
				<td colspan="5">
					<form action="createPost" method="post">
						<input type="button" value="목록으로" onclick="location.href='/'"/>
						<input type="submit" value="게시글 생성"/>
						<input type="hidden" th:value="${boardCd}" name="boardCd"/>
					</form>
				</td>
			</tr>
		</table>
	</div>
</html>