<!DOCTYPE HTML>
<html xmlns:th="http//www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
    <div layout:fragment="body">
		<form action="deletePost" method="post">
			<table border="1" align="center" width="50%">
				<tr align="center">
					<td th:text="${postDto.postSj}"></td>
					<td th:text="${#dates.format(postDto.regDt, 'yyyy-MM-dd')}"></td>
				</tr>
				<tr>
					<td colspan="2" align="center" th:text="${postDto.postCn}"></td>
				</tr>
				<tr th:if="${tagDto.size() != 0}" align="center">
					<td colspan="2">
						<div th:each="tagDto:${tagDto}" style="display: inline-block;">
							#<span th:text="${tagDto.tag}"></span>
						</div>
					</td>
				</tr>
				<tr align="center">
					<td colspan="2">
						<input type="button" value="목록으로" th:onclick="|location.href='@{post(boardCd=${postDto.boardCd})}'|"/>
						<input type="button" value="수정" th:onclick="|location.href='@{updatePost(postNo=${postDto.postNo})}'|"/>
						<input type="submit" value="삭제"/>
						<input type="hidden" th:value="${postDto.postNo}" name="postNo"/>
						<input type="hidden" th:value="${postDto.boardCd}" name="boardCd"/>
					</td>
				</tr>
			</table>
		</form>
	</div>
</html>