<!DOCTYPE HTML>
<html xmlns:th="http//www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
    <div layout:fragment="body">
		<form action="setPost" method="post">
			<table border="1" align="center" width="50%">
				<tr>
					<td align="center">제목</td>
					<td>
						<input type="text" th:value="${postDto.postSj}" name="postSj"/>
					</td>
				</tr>
				<tr>
					<td align="center">내용</td>
					<td>
						<textarea th:text="${postDto.postCn}" rows="5" name="postCn"></textarea>
					</td>
				</tr>
				<tr th:if="${tagDto.size() != 0}" align="center">
					<td colspan="2">
						<div th:each="tagDto:${tagDto}" style="display: inline-block;">
							#<span th:text="${tagDto.tag}"></span>
							<a th:href="@{deletePostTag(tagNo=${tagDto.tagNo}, postNo=${postDto.postNo})}">X</a>
						</div>
						<br/>
						<label for="hashtags">태그</label>
						<div align="center">
							<input type="text" id="hashtags" placeholder="Enter로 추가해보세요."/>
							<div id="hashtags-container"></div>
							<input type="hidden" id="hashtags-hidden" name="tag"/>
						</div>
					</td>
				</tr>
				<tr align="center">
					<td colspan="2">
						<input type="button" value="이전으로" onclick="history.back()"/>
						<input type="submit" value="수정 완료"/>
						<input type="hidden" th:value="${postDto.postNo}" name="postNo"/>
						<input type="hidden" th:value="${postDto.boardCd}" name="boardCd"/>
					</td>
				</tr>
			</table>
		</form>
		<th:block layout:fragment="script">
			<script src="js/post.js"></script>
		</th:block>
	</div>
</html>