<!DOCTYPE HTML>
<html xmlns:th="http//www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
    <div layout:fragment="body">
    	<table th:if="${boardList.size() == 0}">
    		<tr>
				<td colspan="4">게시판 이름</td>
			</tr>
    		<tr>
				<td>게시글이 없습니다.</td>
			</tr>
    	</table>
		<table th:unless="${boardList.size() == 0}">
			<tr>
				<td colspan="4">게시판 이름</td>
			</tr>
			<tr>
				<td>글번호</td>
				<td>제목</td>
				<td>작성자</td>
				<td>작성일</td>
			</tr>
			<tr>
				<td>
					
				</td>
				<td>
					
				</td>
				<td>
					
				</td>
				<td>
					
				</td>
			</tr>
		</table>
	</div>
</html>